
/* css for text.jsx */
/* .cbox{
    border: 2px solid red;
} */
.colbox{
    margin-top: 20px;
    margin-bottom: 20px;
}

.crow{
    /* border: 2px solid blue; */
    padding: 4px 17px;
    margin: 14px;
}
.crow1{
    /* border: 2px solid blue; */
    padding: 4px 3px;
    margin: 14px;
}
/* .cobox{
    border: 2px solid pink;
    
} */
.ibox{
    visibility: visible;
}

/* h1{
    border: 2px solid black;
} */

.arrow{
    /* border: 2px solid red; */
    margin-top: 5px;
}
 
.text2{
    font-weight: 350;
    padding-top: 5px;
    text-align: left;
}
#text1{
    font-weight: 650;;
}
#text3{
    font-weight: 35;
    margin-top: 20px;
}
/* fontawosome arrow css */
.fa-angle-right:before {
    content: "\f105";
    
    margin-left: 34px;
}

/* dropdown button css */
.btn{
    width: 170px;
    border-radius: 30px;
}
#dropdown{
    padding: 9px;
    
}

/*About-Us Content*/
.content-about-us
{
    font-size: 20px;
    text-align: justify;
    position:relative;
    left:5px;
    padding-top: 20px;
}